<div class="container">
  <div class="form_container">
    <h2 class="section_title">Create a new comment</h2>
    <%= form_with(model: [@user, @post, @comment], local:true) do |f| %>
      <div class="form_group">
        <%= f.label :text %>
        <%= f.text_area :text, class: 'form_control' %>
      </div>
      <div class="form_group">
        <%= f.submit "Save comment", class: 'btn' %>
      </div>
    <% end %>
  </div>
</div>
