<div class="post_item_container">
  <%= render partial: 'partials/post', object: post, as: :post %>
  <%= render partial: 'partials/comments', object: post.most_recent_comments, as: :comments %>
</div>
