<h1><%= @title %></h1>
<ul>
  <li>
    <a href="/users/1" class="user_item">
      <img src="/" alt="user photo" class="user_image" />
      <div>
        <h2>William Brown</h2>
        <p>number of posts: 5</p>
      </div>
    </a>
  </li>
    <li>
    <a href="/users/2" class="user_item">
      <img src="/" alt="user photo" class="user_image" />
      <div>
        <h2>William Brown</h2>
        <p>number of posts: 5</p>
      </div>
    </a>
  </li>
    <li>
    <a href="/users/3" class="user_item">
      <img src="/" alt="user photo" class="user_image" />
      <div>
        <h2>William Brown</h2>
        <p>number of posts: 5</p>
      </div>
    </a>
  </li>
    <li>
    <a href="/users/4" class="user_item">
      <img src="/" alt="user photo" class="user_image" />
      <div>
        <h2>William Brown</h2>
        <p>number of posts: 5</p>
      </div>
    </a>
  </li>
    <li>
    <a href="/users/5" class="user_item">
      <img src="/" alt="user photo" class="user_image" />
      <div>
        <h2>William Brown</h2>
        <p>number of posts: 5</p>
      </div>
    </a>
  </li>
    <li>
    <a href="/users/6" class="user_item">
      <img src="/" alt="user photo" class="user_image" />
      <div>
        <h2>William Brown</h2>
        <p>number of posts: 5</p>
      </div>
    </a>
  </li>
</ul>
