<div class="container">
  <%= render partial: 'partials/user', object: @user %>
</div>

<div class="container">
  <h3 class="section_title">bio:</h3>
  <p class="content_text"><%= @user.bio %></p>
</div>

<div class="container">
  <h3 class="section_title">Users posts:</h3>
  <div class="user_posts">
    <%= render partial: 'partials/posts_details', collection: @user.most_recent_posts, as: :post %>
  </div>
</div>

<%= show_see_all_posts_button(@user) %>
