<h1>User information details</h1>
<section class="user_header_info">
  <div>
    <img src="/" alt="user photo" class="user_image" />
  </div>
  <div>
    <h2>William Brown</h2>
    <p>number of posts: <%= @user_id %></p>
  </div>
</section>

<section>
  <h3>
    bio:
  </h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</section>

<section>
  <ul id="user_posts">
    <li class="post_item">
      <h4 class="post_item_title">Post #1</h4>
      <p class="post_item_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="post_item_footer">
        <span>Comments: x</span>, <span>Likes: y</span>
      </p>
    </li>
    <li class="post_item">
      <h4 class="post_item_title">Post #2</h4>
      <p class="post_item_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="post_item_footer">
        <span>Comments: x</span>, <span>Likes: y</span>
      </p>
    </li>
    <li class="post_item">
      <h4 class="post_item_title">Post #3</h4>
      <p class="post_item_description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p class="post_item_footer">
        <span>Comments: x</span>, <span>Likes: y</span>
      </p>
    </li>
  </ul>
</section>
