<div class="container">
  <%= render partial: 'partials/user', object: @user %>
</div>

<div class="container">
  <div class="user_posts">
    <%= render partial: 'partials/posts_comments', collection: @posts, as: :post %>
  </div>
</div>
