<div class="container">
  <%= render partial: 'partials/user', object: @user %>
</div>

<div class="container">
  <%= render partial: 'partials/add_post_button', object: @user, as: :user %>
  <div class="user_posts">
    <%= render partial: 'partials/posts_comments', collection: @posts, as: :post %>
  </div>
</div>

<div class="container">
  <%= render partial: 'partials/pagination' %>
</div>
