/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.main_container {
  width: 100%;
  height: 100vh;
  padding: 3rem;
}

/* ============ USER PAGE ============ */
#user_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#user_list li {
  width: 100%;
  height: auto;
}

.user_item a {
  text-decoration: none;
  color: #000;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 3rem;
}

.user_image {
  width: 100%;
  height: auto;
  border: 1px solid #b6b6b6;
  border-radius: 0.30rem;
}

.user_details {
  border: 1px solid #000;
  border-radius: 0.30rem;
  padding: 1rem 1.2rem;
}

.user_name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.user_posts_counter {
  font-size: 1rem;
  text-align: right;
}
