/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ============ GENERAL STYLES ============ */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.main_section {
  width: 100%;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.section_title {
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.section_subtitle {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 0.30rem;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.content_text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.button_container {
  margin-top: 4rem;
}

.item_counter {
  font-size: 1.2rem;
}

/* ============ USERS ============ */
#user_list {
  width: 100%;
  gap: 2rem;
}

.user_item {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.user_item a {
  text-decoration: none;
  color: #000;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 3rem;
}

.user_image {
  width: 100%;
  height: auto;
  border: 1px solid #b6b6b6;
  border-radius: 0.30rem;
}

.user_details {
  border: 1px solid #000;
  border-radius: 0.30rem;
  padding: 1rem 1.2rem;
}

.user_name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.user_posts_counter {
  text-align: right;
}

/* ============ POSTS ============ */
.user_posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post_item_container {
  border: 1px solid #000;
  border-radius: 0.30rem;
  padding: 0.3rem 1rem;
  width: 100%;
  height: auto;
}

.post_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post_item_title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.post_item_title a {
  color: #000;
  text-decoration: none;
}

.post_item_footer {
  text-align: right;
}

.post_page_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============ COMMENTS ============ */
.comments_container {
  width: 100%;
}

.post_comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 1rem 0.5rem;
  background-color: #ecf2f9;
  border-radius: 0.30rem;
}

/* ============ MEDIA QUERIES ============ */
@media (min-width: 768px) {
  .main_section {
    padding: 1.5rem;
  }
}

@media (min-width: 998px) {
  .main_section {
    max-width: 95%;
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .main_section {
    max-width: 85%;
  }
}

@media (min-width: 1180px) {
  .main_section {
    max-width: 75%;
  }
}
